.col {
  flex: 1 0;
}

.col-md-2 {
  flex: 0 0 auto;
  width: 16.66667%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.47rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-input:focus {
  outline: none;
}

.form-label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  /* background-color: rgba(127, 29, 29, 1); */
  border: 1px solid transparent;
  /* padding: 8px 24px; */
  font-size: 0.875rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}